.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authForm > * {
  margin: 15px 0;
}

.authForm h1 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.authForm button {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: #333355;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.redirect,
.forgot--password {
  font-size: 14px;
  text-align: center;
}

.forgot--password {
  margin: 0;
}

.redirect a,
.redirect a:visited,
.forgot--password {
  color: white;
}

button:disabled {
  background: #eee;
  color: #999;
  box-shadow: none;
}
