.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer input {
  background: #fefefe;
  width: 300px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  padding: 0 5px 0 5px;
  font-weight: 900;
  color: rgba(51, 51, 85, 0.75);
}

.inputContainer span.error {
  text-align: center;
}

.inputContainer .error {
  text-transform: capitalize;
  color: red;
}

.inputContainer input.error {
  background-color: #ffd4d4;
  border: solid 3px red;
}
