.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background: #444;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.fixtures--msg {
  height: 50px;
  font-size: 16px;
  align-items: center;
}

.table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  font-size: 16px;
  border-radius: 5px;
  max-height: 100%;
  height: 100%;
}

.table thead {
  font-size: 1.5rem;
  font-weight: 100;
  background-color: #444;
  color: white;
}

.table thead th,
.table tbody td {
  padding: 10px 20px;
}

@media screen and (max-width: 600px) {
}

@media (max-width: 600px) {
  .user-view__form-container {
    padding: 0 2rem;
  }

  .table thead {
    display: none;
  }

  .tabe th,
  .table td {
    display: block;
    padding: 0;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 0.5rem;
    text-transform: uppercase;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 0.5rem;
    text-align: left;
  }

  .table th {
    font-weight: bold;
    background-color: #f2f2f2;
  }

  .table td {
    border-bottom: 1px solid #ddd;
  }

  .table tr {
    padding-bottom: 30px;
    display: block;
  }
}
