.container {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 100vh;
  overflow: hidden;
}

.container .header {
  background-color: #444;
  padding: 0 5rem;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
}

.container .header h1 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.container .match--overview {
  display: flex;
  flex-direction: row;
}

.match--stats {
  height: 100%;
  overflow-y: scroll;
}

.column {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-logo img {
  width: 200px;
}

.team-logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.team-name {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
}
.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.match-date,
.match-referee {
  font-size: 14px;
  color: var(--color-text-secondary);
}
.match-date strong,
.match-referee strong {
  color: var --color-text-primary;
}
.match-score {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.match-score-number {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}
.match-score-number--leading {
  color: #df9443;
}
.match-score-divider {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: var --color-text-icon;
  margin-left: 10px;
  margin-right: 10px;
}
.match-time-lapsed {
  color: #df9443;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}
.match-referee {
  margin-top: 12px;
}

.stat_header {
  font-size: 16px;
  text-align: center;
}

progress[value] {
  appearance: none;
  width: 100%;
  height: 20px;
  position: relative;
}
progress[value]::-webkit-progress-bar {
  background: linear-gradient(
    56deg,
    rgba(195, 34, 124, 1) 0%,
    rgba(253, 45, 45, 1) 100%
  );

  border-radius: 3px;
}
.stat__progress {
  display: grid;
  align-items: center;
  margin: 0 0 1.5em;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}
.stat__progress p {
  padding: 5px;
  font-size: 16px;
}
.stats::-webkit-progress-value {
  background: rgb(34, 195, 66);
  border-right: 5px white solid;
  background: linear-gradient(
    71deg,
    rgba(34, 195, 66, 1) 44%,
    rgba(45, 253, 72, 1) 100%
  );
}

@media screen and (max-width: 600px) {
  .team-logo img {
    width: 100px;
  }
}

@media screen and (max-width: 991px) {
  .match--stats__container {
    padding: 0;
  }

  .container .header {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 992px) {
  .container .header i {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1111px) {
  .match--stats__container {
    padding: 0px;
  }
}
