.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
}
.footer__copyright {
  color: #afaeae;
}
